{% extends "base.html" %}
{% block title %}Not found{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>404</h1>
            <h3>Not found</h3>
        </div>
    </div>
{% endblock %}
