{% extends "base.html" %}{% load url from future %}
{% block css %}
<link href="{{ STATIC_URL }}css/fullcalendar.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.min.js"></script>
<script>
$(document).ready(function(){
    var calendar = $("#calendar").fullCalendar({
        weekMode: 'liquid',
        firstDay: 1,
        aspectRatio: 0.85,
        eventClick: function(event){
          if(!$(this).hasClass("popped_over") && event.comment){
              $(this).popover({
                  content: event.comment,
                  placement: "auto top",
                  container: "body"
              });
              $(this).popover('show');
              $(this).addClass("popped_over");
          }
        },
        events: {
                url: '{% url "calendar_lendings" %}',
                data: function(){
                    var obj = {};
                    if($("#id_item").val()!=""){
                        obj.item = $("#id_item").val();
                    }
                    return obj;
                }
        }
    });
    var config_datepicker = {
        autoclose: true,
        format: "dd/mm/yyyy",
        weekStart: 1
    };
    $("#id_start_date").datepicker(config_datepicker);
    $("#id_end_date").datepicker(config_datepicker);
})
</script>
{% endblock %}
{% block title %}Borrow an item{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Borrow an item</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="{% url "borrow" %}">{% csrf_token %}
                        <div class="form-group">
                            <label for="id_item">Item</label>
                            {{ form.item }}
                        </div>
                        <div class="form-group">
                            <label for="id_start_date">Start date</label>
                            <div class="input-group">
                            {{ form.start_date }}
                            <span class="input-group-addon"><i class="icon icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_end_date">End date</label>
                            <div class="input-group">
                            {{ form.end_date }}
                            <span class="input-group-addon"><i class="icon icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_comment">Comment</label>
                            {{ form.comment }}
                        </div>
                        <hr/>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                           <button type="reset" class="btn btn-default pull-right">Reset</button>
                        </div>
                        {% if failure %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Error!</strong> Your last action performed the following error(s):<br/>
                                {{ failure|safe }}
                            </div>
                        {% elif success %}
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Success!</strong><br/>
                                {{ success|safe }}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Availability</h3>
                </div>
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
