{% extends "base.html" %}{% load url from future %}
{% block css %}
<link href="{{ STATIC_URL }}css/fullcalendar.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>
<script>
$(document).ready(function(){
    $("#calendar").fullCalendar({
        weekMode: 'liquid',
        firstDay: 1,
        aspectRatio: 0.85,
        eventClick: function(event){
          if(!$(this).hasClass("poped_over") && event.comment){
              $(this).popover({
                  content: event.comment,
                  placement: "auto top",
                  container: "body"
              });
              $(this).popover('show');
              $(this).addClass("poped_over");
          }
        },
        events: {
                url: '{% url "calendar_lendings" %}',
                data: function(){
                    var obj = {};
                    if($("#id_commodities").val()!=""){
                        obj.item = $("#id_commodities").val();
                    }
                    if($("#id_users").val()!=""){
                        obj.user = $("#id_users").val();
                    }
                    return obj;
                }
        }
    });
})
</script>
{% endblock %}
{% block title %}Calendar view{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Filters</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="id_commodities">Commodities</label>
                        <select id="id_commodities" class="form-control" onchange="$('#calendar').fullCalendar('refetchEvents')">
                            <option value="">All commodities</option>
                            {% for item in items %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_users">Users</label>
                        <select id="id_users" class="form-control" onchange="$('#calendar').fullCalendar('refetchEvents')">
                            <option value="">All users</option>
                            {% for usr in users %}
                            <option value="{{ usr.id }}">{{ usr.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div id="calendar">
            </div>
        </div>
    </div>
{% endblock %}
