{% extends "base.html" %}{% load url from future %}
{% block title %}Lending items list{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Commodities to let</h3>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr class="item_list_head">
                    <th>Available</th>
                    <th>Commodity</th>
                    <th>Description</th>
                    <th>Max. duration</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr class="{% if item.locked %}danger{% endif %}">
                    <td class="col-lg-1">{% if not item.locked %}<i class="icon icon-check"></i>{% else %}<i class="icon icon-check-empty"></i>{% endif %}</td>
                    <td class="col-lg-2">{% if not item.locked %}<a href="{% url "borrow" %}?item={{ item.id }}">{{ item.name }}</a>{% else %}{{ item.name }}{% endif %}</td>
                    <td class="col-lg-6">{{ item.description }}</td>
                    <td class="col-lg-1">{{ item.lending_duration|default_if_none:"" }}</td>
                    <td class="col-lg-2"><div class="thumbnail"><img src="{{ MEDIA_URL }}{{ item.image }}"/></div></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
