{% extends "base.html" %}{% load url from future %}
{% block title %}Lendings documentation{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
            <h1>Documentation</h1>
            <p class="lead">
                Software used
            </p>
            <p>
                This application is using the bootstrap css theme which has it's main colors changed to #22B24C green.<br/>
                FontAwesome icons is also included to the theme.<br/>
                The calendar used is fullCalendar an add-on for jQuery.<br/>
            </p>
            <p class="lead">
                Usage instructions
            </p>
            <p>
                The lending app is accessible through the <a href="{% url "item_list" %}">Home</a> link at the navigation bar on top.
                This is a list of all items at you inventory. It displays availability, name, description, maximum lending duration,
                and image if available. If an item is not available its line will be colored red.
                The name of every item is a link and when clicked it will transfer the user to the <a href="{% url "borrow" %}">Borrow</a> page
                (if is logged in) with this item preselected and the availability calendar filtered for this item.
            </p>
            <p>
                Logged in users have access to the <a href="{% url "calendar" %}">Calendar</a> and <a href="{% url "borrow" %}">Borrow</a> pages.
                You can login through the <a href="/admin/">Admin</a> interface, since there is no login page provided.
                Login credentials are:
                <ul>
                    <li>Username: lending1, password: lending1</li>
                    <li>Username: lending2, password: lending2</li>
                </ul>
            </p>
            <p>
                The <a href="{% url "calendar" %}">Calendar</a> page displays all lendings by all users to a monthly paged calendar.
                Lendings of the current user are colored green, all other users' lendings are colored olive.
                Every lending displays the item name and the user username who have borrowed it. When a lending is clicked
                the comment, if any, is displayed as a popover.
                On the left side the are filters with which a user can filter the calendar.
                The <strong>Commodity</strong> filter filters the calendar according to the item selected by the user.
                The <strong>User</strong> filter filters the calendar according to the username selected by the user.
            </p>
            <p>
                The <a href="{% url "borrow" %}">Borrow</a> page is for submitting a lending. It displays the availability calendar
                of all items. When the user selects an item to borrow the calendar is filtered to only that. The drop down selection of items includes only
                the available for borrowing items. The start and end dates
                when clicked present a mini calendar with which the user can choose the dates he likes.
                The form does the following validations before a successful submission can be registered.
                <ul>
                    <li>Item, start date, end date are required.</li>
                    <li>Start date must be greater or equal than today.</li>
                    <li>End date must be greater or equal than start date.</li>
                    <li>The duration of lending must be less or equal to the maximum duration of the item.</li>
                    <li>Start and end date must not overlap another lending.</li>
                </ul>
                When all validations succeed the lending is registered and is displayed at the calendar.
            </p>
            <p class="lead">
                Settings
            </p>
            <p>
                The date input format have been set to <em>"dd/mm/yyyy"</em>, which can be changed at the settings.py file.<br/>
                The same setting is used for configuring the datepickers at borrow.html file.<br/>
                Calendars start at <em>Monday</em>.
            </p>
            <p class="lead">
                Testing
            </p>
            <p>
                A number of tests are provided for the lending application.<br/>
                <code>
                    python manage.py test lending
                </code>
            </p>
            <br/>
        </div>
    </div>
{% endblock %}
